<div class="modal-background" id="calendar-modal">
    <div id="calendar" class="calendar-container">
        <div class="calendar-header"></div>
        <div class="calendar-days-of-week"></div>
        <div class="calendar-dates"></div>
    </div>
</div>