<div class="rules ref">
  <h2>POLITICA DE DEVOLUCIONES</h2>
  <ol>
    <li> Si cancela una reserva de 60 a 30 días antes de la fecha de recogida programada,
      le reembolsaremos el importe total de la reserva menos un cargo del 25% del pago total.
    </li>

    <li> Si cancela una reserva de 30 a 15 días antes de la fecha de recogida programada,
      le reembolsaremos el importe total de la reserva menos un cargo del 50% del pago total.
    </li>

    <li> Si cancela una reserva de 15 a 0 días antes de la fecha de recogida programada,
      le reembolsaremos el importe total de la reserva menos un cargo del 100% del pago total.
    </li>

    <li> Las solicitudes de cancelación o modificación una vez pagada la reserva
      deben realizarse por escrito por correo electrónico.
    </li>

    <li>Si el cliente no se presenta el día del inicio de la reserva (NO SHOW),
      esta reserva se considerará cancelada automáticamente y no aceptaremos ninguna solicitud de devolución.
    </li>

    <li> Después de iniciar el servicio. Si, tras iniciar el servicio,
      decides no utilizar parte de los días de alquiler contratados, no aceptaremos ninguna solicitud de devolución.
    </li>

    <li> CUBAGOLDCAR no reembolsará dinero a ninguna tarjeta de crédito que no sea la utilizada por usted en el proceso
      de reserva.
      Si el proceso de reembolso se realiza mediante transferencia bancaria, deduciremos cualquier cargo bancario
      adicional del monto total a reembolsar
    </li>

  </ol>

</div>