<div class="rules ref">
    <h2>REFUND POLICY</h2>
    <ol>
        <li>If you cancel a reservation 60 to 30 days before the scheduled pickup date,
            we will refund the full amount of the reservation less a charge of 25% of the total payment.
        </li>

        <li>If you cancel a reservation 30 to 15 days before the scheduled pickup date,
            we will refund the full amount of the reservation less a charge of 50% of the total payment.
        </li>

        <li>If you cancel a reservation 15 to 0 days before the scheduled pickup date,
            we will refund the full amount of the reservation less a charge of 100% of the total payment.
        </li>

        <li>Requests for cancellation or modification once the reservation has been paid must be made in writing by
            email.
        </li>

        <li>If the client does not show up on the day the reservation begins (NO SHOW),
            this reservation will be considered automatically canceled and we will not accept any refund request.
        </li>

        <li>After starting the service. If, after starting the service,
            you decide not to use part of the contracted rental days, we will not accept any refund request.
        </li>

        <li>HAVANABYCAR will not refund money to any credit card other than the one used by you in the reservation
            process.
            If the refund process is via bank transfer, we will deduct any additional bank charges from the total
            amount to be refunded.
        </li>

    </ol>
</div>