<div class="modal-background" id="loader">
    <!--
    <div class="loader-box center">
        <img src="/static/media/tyre.png" alt="">
    </div>
    -->

    <div class="car-container">
        <img src="/static/media/white-car-top.png" alt="" >
    </div>

    <div class="traffic-lines">
        <div id="line-container">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    
    <div class="trapezoid"></div>

    <div id="loading">
        <h3><span>Loading...</span></h3>
    </div>
    
</div>