<!--MOB-->
<nav class="mobNav">
  <p class="center" style="margin: 0;">
    <a href="<%= nav.homeLink %>">
      <img src="/static/media/logo.png" alt="" />
    </a>
  </p>
  <p class="center">
    <i class="fas fa-bars accent menuBTN"></i>
    <i class="fas fa-window-close accent menuBTN hidden"></i>
  </p>
</nav>
