<!--MOB-->
<nav class="mobNav">
    <p class="center">
        <a href="<%= nav.homeLink %>">
            <img src="/static/media/havana_by_car.png" alt="">
        </a>
    </p>
    <p class="center">
        <i class="fas fa-bars accent menuBTN"></i>
        <i class="fas fa-window-close accent menuBTN hidden"></i>
    </p>
</nav>