<div class="rules priv">
    <h1>PRIVACY POLICY</h1>
    <ol>
        <li>
            <h2><a href="#termsID">Terms and conditions of use of the website</a>
            </h2>
        </li>
        <li>
            <h2><a href="#copyrightID"> Copyright</a>
            </h2>
        </li>
        <li>
            <h2><a href="#privacyID">Privacy Policy</a>
            </h2>
            <ul>
                <li><a href="#3.1ID">3.1 What personal data we collect</a>
                </li>
                <li><a href="#3.2ID">3.2 How we use your personal data</a>
                </li>
                <li><a href="#3.3ID"> 3.3 How we protect your personal data</a>
                </li>
                <li><a href="#3.4ID">3.4 To whom may we disclose your personal data</a>
                </li>
                <li><a href="#3.5ID">3.5 How you can access and rectify your personal data</a>
                </li>
                <li><a href="#3.6ID">3.6 Consent</a>
                </li>
            </ul>
        </li>
    </ol>
    <ol>
        <li id="termsID">
            <h2>TERMS AND CONDITIONS OF USE OF THE WEBSITE</h2>

            <p>Welcome to our website. If you continue browsing and using this website, you agree to
                comply with and limit yourself to the following terms and conditions of use, which together with our
                privacy policy govern the relationship between CUBAGOLDCAR and you regarding this website. From now
                on, the terms CUBAGOLDCAR and 'we' will refer to the owner of this website. Our company is registered
                in Orlando (Florida) and its tax identification number is 2023-001263074.. The term 'you' will refer
                to the user of our website.
            </p>
            <p>The use of this website is subject to the following terms of use:
            </p>
            <ul>
                <li>The content of the pages is for your information and use only. It may also be subject to change
                    without prior notice.

                </li>
                <li>Neither we nor our third parties guarantee the accuracy, timeliness, operation or convenience of
                    the information and materials found or offered on this website for any particular purpose. You
                    agree that some information and some of the materials may have inaccuracies or errors for which
                    we will have no responsibility to the extent permitted by law.
                </li>

                <li>With the use of any information or material on this website, you assume entirely your own risk
                    and therefore we will not assume any responsibility. It will be your responsibility to ensure
                    that all products, services or information available on this website meet your specific
                    requirements.
                </li>

                <li>All necessary efforts will be made to keep the website active and functioning normally. However,
                    Cubacation does not assume any responsibility if the page is at any time disabled for technical
                    reasons beyond our control.
                </li>
                <li>In no case will we be responsible for any loss or damage including those without limitation,
                    indirect or derivative, nor for losses or damages that result in loss of data or profits
                    associated with the use of this website.

                </li>
                <li>This website contains material that is our property or for which we have a license to use. This
                    material includes, but is not limited to, design, appearance, and graphics. Any reproduction
                    that is not in accordance with the copyright terms, included below, is prohibited.

                </li>
                <li>All trademarks that we do not own and that are reproduced on this website are duly recognized.

                </li>
                <li>Unauthorized use of this website may lead to claims for damages and / or be a crime.

                </li>
                <li>Sometimes our website may include links to other pages. These links are provided for your
                    convenience in providing certain information. This does not mean that we endorse that web page
                    and therefore we will not have responsibility or control over the content, nature or
                    availability of the linked pages.

                </li>
                <li>You may not create a link to this web page from another web page or document, without the prior
                    written consent of CUBAGOLDCAR

                </li>
                <li>The use of this website and any dispute that may arise due to such use are subject to the laws
                    of
                    the State of Florida.

                </li>
            </ul>
        </li>
        <li id="copyrightID">
            <h2>COPYRIGHT</h2>

            <p>This website and its contents are the property of CUBAGOLDCAR. All rights reserved. Any redistribution
                or reproduction of part or all of the contents in any form is prohibited except in the following
                cases:

            </p>
            <ul>
                <li>You may print or download parts of the content to a local hard drive for your personal,
                    non-commercial use.

                </li>
                <li>You may copy the content to third parties for your personal and non-commercial use, but only if
                    you state that our website is the source of the material.

                </li>
            </ul>
            <p>You may not, except with our written permission, distribute or market the content of this website.
                Nor can you transmit or store it on another website or other form of electronic storage system.

            </p>
        </li>
        <li id="privacyID">
            <h2>PRIVACY POLICY</h2>
            <ul>
                <li id="3.1ID">
                    <h3>3.1 What personal data we collect</h3>
                    <ul>
                        <li>3.1.1 When a reservation is made, we collect basic information such as your name, email
                            address and other contact details. The mandatory information we need will always be
                            marked with an asterisk on the website. You can also give us additional personal data in
                            the course of communications about your reservation through email or our telephone.

                        </li>
                        <li>3.1.2 We may store certain personal data including your contact information and the
                            details of your order.
                        </li>
                        <li>3.1.3 We may also record your IP address and the type of browser you use when visiting
                            our website.

                        </li>
                        <li>3.1.4 We may use cookies. Cookies are small information files sent to your browser and
                            stored on your computer's hard drive. If you browse our website again, our server will
                            be able to recognize the cookie and provide information about your last visit. Usually
                            you can modify your browser settings to accept and reject all cookies or, alternatively,
                            be notified when a cookie is created.

                        </li>
                    </ul>
                </li>
                <li id="3.2ID">
                    <h3>3.2 How we use your personal data</h3>
                    <ul>
                        <li>3.2.1 We use your personal data to manage or communicate with you about your
                            reservation.

                        </li>
                        <li>3.2.2 If you so wish and select this option on our website, CUBAGOLDCAR will send you
                            information about other products or services that may be of interest to you.

                        </li>
                        <li>3.2.3 We may access, copy, preserve, disclose, remove, suspend or erase any personal
                            information generated, stored, transmitted or used through or in connection with your
                            reservation, if we are required by applicable laws, statutes, regulations or codes of
                            conduct of competent authorities.

                        </li>
                        <li>3.2.4 We may use your IP address for the purpose of creating customer profiles.

                        </li>
                        <li>3.2.5 We may use cookies to provide you with a more personalized and friendly visit to
                            our website and to help us track traffic patterns between users. Cookies cannot read
                            your hard drive or other cookie files.

                        </li>
                    </ul>
                </li>
                <li id="3.3ID">
                    <h3>3.3 How we protect your personal data</h3>
                    <ul>
                        <li>3.3.1 We take the necessary precautions to protect your personal data from loss, misuse,
                            unauthorized access, alteration or destruction. For this we use the industry standard
                            Secure Sockets Layer (SSL) technology which encrypts sensitive information such as your
                            bank card details. Payment and your bank card details are handled solely by our partner
                            bank, Chase Bank, through a secure payment platform.

                        </li>
                    </ul>
                </li>
                <li id="3.4ID">
                    <h3>3.4 To whom may we disclose your personal data</h3>
                    <ul>
                        <li>3.4.1 We may disclose your personal data to the extent reasonably necessary to:
                            <ol>
                                <li>
                                    To third parties including our receptive company, our Internet payment service
                                    provider, service providers and facility owners for the purpose of managing your
                                    reservation
                                </li>
                                <li>
                                    In the circumstances specified in clause 3.2 of this document
                                </li>
                                <li>
                                    In a context of sale or merger of part or all of our business
                                </li>
                            </ol>

                        </li>
                    </ul>
                </li>
                <li id="3.5ID">
                    <h3>3.5 How you can access and rectify your personal data</h3>
                    <ul>
                        <li>
                            3.5.1 You can access and rectify your personal data by contacting us through our
                            website.
                        </li>
                    </ul>
                </li>
                <li id="3.6ID">
                    <h3>
                        3.6 Consent
                    </h3>
                    <ul>
                        <li>3.6.1 By submitting your personal information to us in any way, you agree that we
                            collect, store and process your personal information in the manner indicated in this
                            privacy policy.

                        </li>
                    </ul>

                </li>

            </ul>
        </li>

    </ol>

</div>