<div class="rules priv">
    <h1>POLÍTICA DE PRIVACIDAD</h1>
    <ol>
        <li>
            <h2>
                <a href="#terminosID">Términos y condiciones de uso de la página web</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="#copyrightID">Copyright</a>
            </h2>
        </li>
        <li>
            <h2><a href="#privacidadID"> Política de privacidad</a>

            </h2>
            <ul>
                <li><a href="#3.1ID">3.1 Qué datos personales recopilamos</a>
                </li>
                <li><a href="#3.2ID">3.2 Cómo usamos sus datos personales</a> </li>
                <li><a href="#3.3ID"> 3.3 Cómo protegemos sus datos personales</a>
                </li>
                <li> <a href="#3.4ID"> 3.4 A quién le podremos divulgar sus datos personales</a>
                </li>
                <li><a href="#3.5ID">3.5 Cómo puede acceder y rectificar sus datos personales</a>
                </li>
                <li> <a href="#3.6ID">3.6 Consentimiento</a>
                </li>
            </ul>
        </li>
    </ol>
    <ol>

        <li id="terminosID">
            <h2>TÉRMINOS Y CONDICIONES DE USO DE LA PÁGINA WEB</h2>


            <p>Bienvenidos a nuestra página web. Si usted continúa navegando y usando esta página web,
                estará aceptando cumplir y limitarse a los siguientes términos y condiciones de uso,
                los que junto a nuestra política de privacidad rigen la relación entre CUBAGOLDCAR y usted acerca de
                esta
                página web.
                En lo adelante, los términos “CUBAGOLDCAR” y “nosotros” estarán referidos al dueño de esta página
                web.
                Nuestra compañía está registrada en Orlando (Florida) y su número de identificación fiscal es
                2023-001263074. El término 'usted' se referirá al usuario de nuestra página web.
            </p>
            <p>El uso de esta página web está sujeto a los siguientes términos de uso:
            </p>
            <ul>
                <li>El contenido de las páginas es solamente para su información y uso.
                    Además podrá ser sujeto a cambios sin aviso previo
                </li>
                <li>Ni nosotros ni nuestras terceras partes garantizamos la exactitud, la puntualidad,
                    el funcionamiento o la conveniencia de la información y los materiales encontrados u ofrecidos
                    en
                    esta página web para cualquier propósito particular.
                    Usted acepta que alguna información y algunos de los materiales pueden tener inexactitudes o
                    errores
                    por los cuales no tendremos responsabilidad en la medida de lo que permita la ley.
                </li>
                <li>Con el uso de cualquier información o material de esta página web usted asume enteramente su
                    propio
                    riesgo y por lo tanto no asumiremos ninguna responsabilidad.
                    Será su responsabilidad asegurarse que todos los productos, servicios o información disponible
                    en
                    esta página web, cumplen sus requerimientos específicos.
                </li>
                <li>Todos los esfuerzos necesarios serán realizados para mantener la página web activa y funcionando
                    con
                    normalidad.
                    No obstante, Cubacation no asume ninguna responsabilidad si la página se encuentra en algún
                    momento
                    inhabilitada por razones técnicas ajenas a nuestra voluntad.
                </li>
                <li>En ningún caso seremos responsables ante cualquier pérdida o daño incluyendo aquellos sin
                    limitación,
                    indirectos o derivados, ni tampoco de las pérdidas o daños que deriven en pérdidas de datos o
                    ganancias asociados al uso de esta página web.
                </li>
                <li>Esta página web contiene material que es de nuestra propiedad o sobre el cual tenemos licencia
                    de
                    uso. Este material incluye, pero no se limita, al diseño, la apariencia y los gráficos.
                    Cualquier reproducción que no esté en concordancia con los términos de copyright, incluidos más
                    adelante, está prohibida.
                </li>
                <li>Todas las marcas comerciales de las que no somos propietarios y que son reproducidas en esta
                    página
                    web, están debidamente reconocidas.
                </li>
                <li>El uso no autorizado de esta página web puede acarrear reclamaciones por daños y/o ser un
                    delito.
                </li>
                <li>En ocasiones nuestra página web puede incluir enlaces a otras páginas. Estos enlaces son
                    proporcionados por su conveniencia para brindar cierta información.
                    Esto no significa que nosotros avalamos esa página web y por lo tanto no tendremos
                    responsabilidad o
                    control sobre el contenido, naturaleza o disponibilidad de las páginas enlazadas.
                </li>
                <li>Usted no puede crear un enlace de esta página web desde otra página web o documento, sin el
                    previo
                    consentimiento por escrito de CUBAGOLDCAR.
                </li>
                <li>El uso de esta página web y cualquier disputa que por dicho uso pueda acontecer están sujetas a
                    las
                    leyes del estado de la Florida.
                </li>
            </ul>
        </li>

        <li id="copyrightID">
            <h2>COPYRIGHT</h2>

            <p>Esta página web y sus contenidos son propiedad de CUBAGOLDCAR. Todos los derechos reservados.
                Cualquier redistribución o reproducción de parte o de todos los contenidos en cualquier forma está
                prohibida
                excepto en los siguientes casos:</p>
            <ul>
                <li>Usted puede imprimir o descargar a un disco duro local, partes del contenido para su uso
                    personal y
                    no comercial
                </li>
                <li>Usted puede copiar el contenido a terceras partes para su uso personal y no comercial,
                    pero solo si hace notar que nuestra página web es la fuente del material.
                </li>
            </ul>
            <p>Usted no puede, excepto con nuestro permiso escrito, distribuir o comercializar el contenido de esta
                página web.
                Tampoco podrá transmitirlo o almacenarlo en otra página web u otra forma de sistema electrónico de
                almacenaje.
            </p>
        </li>

        <li id="privacidadID">
            <h2>POLÍTICA DE PRIVACIDAD</h2>
            <ul>
                <li id="3.1ID">
                    <h3>3.1 Qué datos personales recopilamos</h3>
                    <ul>
                        <li>3.1.1 Cuando se hace una reservación, nosotros recopilamos información básica como puede
                            ser su nombre,
                            su dirección de correo electrónico y otros detalles de contacto. La información
                            obligatoria que necesitamos
                            aparecerá siempre marcada con un asterisco en la página web. Usted puede también darnos
                            datos personales adicionales
                            en el transcurso de las comunicaciones acerca de su reservación a través del correo
                            electrónico o
                            de nuestro teléfono.
                        </li>
                        <li>3.1.2 Nosotros podemos almacenar ciertos datos personales incluyendo su información de
                            contacto
                            y los detalles de su pedido.
                        </li>
                        <li>3.1.3 Nosotros podemos también registrar su dirección IP y el tipo de buscador que usa
                            cuando visite nuestra página web.
                        </li>
                        <li>3.1.4 Nosotros podemos usar cookies. Cookies son pequeños archivos de información
                            enviados a su navegador
                            y almacenados en el disco duro de su ordenador. Si usted vuelve a navegar por nuestra
                            web, nuestro servidor podrá reconocer
                            el cookie y brindar información sobre su última visita. Usualmente usted puede modificar
                            la configuración de su buscador para aceptar
                            y rechazar todos los cookies o como alternativa, ser notificado cuando un cookie es
                            creado.
                        </li>
                    </ul>
                </li>
                <li id="3.2ID">
                    <h3>3.2 Cómo usamos sus datos personales</h3>
                    <ul>
                        <li>3.2.1 Nosotros usamos su datos personales para administrar o para comunicarnos con usted
                            acerca de su reservación.
                        </li>
                        <li>3.2.2 Si usted así lo desea y selecciona esta opción en nuestra página web, CUBAGOLDCAR
                            le enviará información
                            sobre otros productos o servicios que le puedan interesar.
                        </li>
                        <li>3.2.3 Nosotros podremos acceder, copiar, preservar, divulgar, remover, suspender o
                            borrar cualquier información personal generada,
                            almacenada, transmitida o usada a través o en conexión con su reservación, si somos
                            requeridos por leyes aplicables, estatutos,
                            regulaciones o códigos de conductas de autoridades competentes.
                        </li>
                        <li>3.2.4 Nosotros podremos usar su dirección IP con el fin de crear perfiles de clientes.
                        </li>
                        <li>3.2.5 Nosotros podremos usar cookies para brindarle una visita más personalizada y
                            amistosa a nuestra página web y para ayudarnos
                            a rastrear los patrones de tráfico entre los usuarios. Los cookies no pueden leer su
                            disco duro ni otros archivos cookies.
                        </li>
                    </ul>
                </li>
                <li id="3.3ID">
                    <h3>3.3 Cómo protegemos sus datos personales</h3>
                    <ul>
                        <li>3.3.1 Nosotros tomamos las precauciones necesarias para proteger sus datos personales de
                            pérdidas, mal uso, acceso no autorizado,
                            alteraciones o destrucción. Para eso usamos la tecnología estándar de la industria
                            Secure Sockets Layer (SSL) la cual encripta información
                            sensible como por ejemplo los detalles de su tarjeta bancaria. El pago y los detalles de
                            su tarjeta bancaria son manejados únicamente por
                            nuestro banco asociado, Chase Bank, a través de una plataforma segura de pago.
                        </li>
                    </ul>
                </li>
                <li id="3.4ID">
                    <h3>3.4 A quién le podremos divulgar sus datos personales</h3>
                    <ul>
                        <li>3.4.1 Nosotros podremos divulgar sus datos personales hasta lo razonablemente necesario
                            a:
                            <ol>
                                <li>A terceras partes incluyendo en ellas nuestra compañía receptiva, nuestra
                                    proveedor del servicio de pago por Internet,
                                    los proveedores de servicios y los propietarios de las instalaciones con el
                                    propósito de administrar su reservación
                                </li>
                                <li>En las circustancias especificadas en el la cláusula 3.2 de este documento
                                </li>
                                <li>En un contexto de venta o fusión de parte o todo nuestro negocio
                                </li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li id="3.5ID">
                    <h3>3.5 Cómo puede acceder y rectificar sus datos personales</h3>
                    <ul>
                        <li>3.5.1 Usted puede acceder y rectificar sus datos personal contactándonos a través de
                            nuestra página web.
                        </li>
                    </ul>
                </li>
                <li id="3.6ID">
                    <h3>3.6 Consentimiento</h3>
                    <ul>
                        <li>3.6.1 Al entregarnos su información personal de cualquier forma, usted acepta que
                            recopilemos, almacenemos
                            y procesemos su información personal en la forma indicada en esta política de
                            privacidad.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>
</div>