<div class="rules">
    <h1>TERMINOS Y CONDICIONES</h1>
    <h2>REQUISITOS PARA LA RENTA DE AUTOS</h2>
    <p>Los requisitos exigidos por CUBAGOLDCAR para la conducción del auto son:</p>
    <ol>
        <li>Tener como mínimo 21 años de edad;excepto para la categoría deportiva
            de la marca comercial REX que se exige un mínimo de 25 años de edad.
        </li>
        <li>Tener como máximo 80 años de edad
        </li>
        <li>Poseer permiso o licencia de conducir vigente según el auto que ha reservado.
            Con dos (2) año de emitida como mínimo, exceptuando las rentas de categoría I Deportiva de la marca
            comercial REX,
            para las cuales se deberá presentar una licencia de conducción con mínimo de tres (3) años de expedida.
            Para las licencias expedidas en Estados Unidos e Inglaterra no se aplica el anterior requisito.
            Para las rentas con chofer no es necesario presentar licencia de conducción.
            Es oportuno esclarecer que tanto por nuestra parte como por parte de las autoridades se exige
            que la misma sea un documento original en formato físico, por lo cual le comunicamos que
            <b>No se acepta la licencia de conducción en formato digital.</b>
        </li>
        <li>Pasaporte o documento de identidad actualizado.
        </li>
        <li>No ser declarado cliente No Grato.
        </li>
        <li>El relevo de responsabilidad difiere para clientes
            en los rangos de edades de 21 a 24 y 75 a 80 años de los clientes entre 24 y 70 años.
        </li>
    </ol>
    <p>Los conductores adicionales deberán cumplir los requisitos anteriores.
        Estos solo están autorizados a conducir el auto en ausencia del titular del contrato.
        No están autorizados para abrir o cerrar contratos, realizar prórrogas o modificaciones al contrato,
        recibir devoluciones o incluir un conductor adicional.
    </p>
    <p>CUBAGOLDCAR ofrece el servicio de renta de autos bajo las marcas comerciales Cubacar, Havanautos y REX.
        Se garantiza la categoría de auto reservada, no una marca y modelo específico, que estarán sujetos
        a disponibilidad en el momento de la renta del auto.
    </p>
    <p> <b>En los casos donde usted reserve un auto de forma anticipada, el titular de la reserva es la única
            persona
            con derecho a ser el titular del contrato de renta siempre teniendo en cuenta que un cliente solo puede
            tener
            una renta activa en un mismo período de tiempo.</b> Este contrato se firma presencialmente por ambas
        partes al inicio
        del servicio.Usted deberá entregar el voucher del servicio.
    </p>
    <p>CUBAGOLDCAR se reserva el derecho de admisión. Podemos negarle la renta del auto si no cumple alguno de los
        requisitos anteriores;
        si incurre en comportamientos no aceptables como presentarse bajo la influencia del alcohol, drogas u otras
        sustancias peligrosas;
        si se encuentra declarado NO GRATO o incurre en cualquier conducta abusiva o amenazante hacia nuestros
        funcionarios.
    </p>
    <h2>CONTRATO DE RENTA DE AUTOS</h2>
    <p>Al firmar el contrato de renta usted y/o los conductores adicionales aceptan las condiciones generales
        estándar
        del Contrato de Renta de Transtur que estén en vigor en ese momento.Está de acuerdo con el informe del
        estado del auto,
        que incluye vehículo en buen estado de funcionamiento, junto con los accesorios descritos en el mismo y se
        compromete
        a devolverlo en las mismas condiciones que lo recibió. Reconoce su conformidad con todos los cargos
        aplicados
        y se compromete a pagar todos los adeudos por el servicio prestado.
    </p>
    <p>El contrato tiene una vigencia máxima de 30 días, incluyendo los días del contrato original y sus prórrogas,
        luego de los cuales se deberá cerrar. Para continuar disfrutando del servicio, deberá abrir un nuevo
        contrato
        según las condiciones vigentes al momento de la apertura del mismo. No se admite la prórroga de un contrato
        si el total de días desde la apertura del contrato original sobrepasa los 30 días.
        Transtur se reserva el derecho de aprobar las solicitudes de prorrogas de los clientes dependiendo
        de la disponibilidad real de autos.
    </p>
    <p> Cada contrato de renta es acompañado por un original y tres copias. Al cliente se entregan dos copias
        que deberá tener siempre consigo durante el período de renta. Además de ser el documento legal para
        cualquier circunstancia donde el cliente necesite acreditar su relación con Transtur,
        se utiliza para la liquidación del auto en cualquier oficina del país; así como otra operación
        que se realice durante la renta. Al finalizar la relación contractual con Transtur el cliente queda
        en custodia de una copia del contrato, donde se reflejan los datos del servicio ejecutado y
        la conformidad del cliente con el mismo.
    </p>
    <p>En los casos de prórrogas, cambios de autos o inclusión de un conductor adicional durante la renta;
        se confecciona nuevo contrato como comprobante de la operación, que se anexa al contrato original de la
        renta.
        Al cliente también se le entrega copia del contrato de cada una de estas operaciones.
    </p>
    <h2>COBROS INCLUIDOS EN EL CONTRATO</h2>
    <p>Al realizar la renta de un auto usted paga de forma obligatoria la renta, el relevo de responsabilidad,
        el combustible y el suplemento de oficinas de Aeropuerto en los casos que corresponda. El precio de renta
        del auto se calcula en función de la duración en días del servicio, la categoría del auto y la tarifa
        vigente.
    </p>
    <p> El Relevo de Responsabilidad se calcula en función de la duración en días del servicio,
        la categoría del auto y la tarifa vigente. Existen 2 tarifas básicas para el relevo de responsabilidad;
        una tarifa para clientes con edad entre los 21 y 24 y 76 y 80 años y otra cobertura para los clientes entre
        25 y 75 años.
        Si usted realiza una reserva por nuestros sitios web, será cobrada la cobertura básica para clientes de 25 a
        75 años.
        Al momento de aperturar el contrato de arrendamiento en nuestras oficinas de ventas, deberá pagar la
        diferencia de relevo
        de responsabilidad si usted tiene entre 21 y 24 o 76 y 80 años.
    </p>
    <p> La cobertura de Relevo de Responsabilidad ofrecidos por Transtur exime al titular del contrato de la
        responsabilidad
        económica en caso de daños provocados al vehículo o accidentes, así como las afectaciones a la propiedad o
        la integridad
        física de terceras personas. En todos los casos el titular del contrato debe presentar el documento de la
        actuación de la Policía.
        El titular del contrato perderá toda cobertura y pagará por los daños en caso de incumplimiento de lo
        establecido en el Contrato de renta.
        El relevo de responsabilidad cubre a los conductores adicionales que estén registrados en el contrato en el
        momento de la ocurrencia de un siniestro.
    </p>
    <p>Se permiten hasta 2 conductores adicionales de forma opcional. Ambos se cobran al momento que usted decide
        incorporarlos al contrato,
        según la cantidad de días desde su incorporación y hasta la liquidación del contrato.
    </p>
    <p> Si recoge su auto en cualquiera de las oficinas de ventas ubicadas en Aeropuertos Internacionales, se aplica
        un cargo adicional.
        También se aplica cargo adicional en la primera renta de vehículos de nueva incorporación a la flota. Ambos
        son cargos de un solo pago,
        solo al inicio de la renta.
    </p>
    <p>El auto se entrega con combustible que se paga en el momento de la reserva, según la categoría del carro. No
        se vende combustible durante
        el transcurso de la renta, este se adquiere en la red de servicentros del país. No se devuelve combustible
        al finalizar la renta.
    </p>
    <p>Si usted entrega el auto en una oficina diferente a la que recogió el auto, deberá abonar un cargo adicional
        por concepto de drop off;
        siempre y cuando la oficina de entrega no pertenezca a la misma agencia o sucursal de la oficina de
        recogida. Si en el momento de la liquidación
        se entrega el auto en una Agencia o Sucursal diferente a la pactada se cobra el drop-of de ese destino más
        un 50 % de penalidad.
    </p>
    <h2>PRECIO Y FORMAS DE PAGO</h2>
    <p> El precio de renta del auto se calcula en función de la duración en días del servicio, la categoría, la
        oficina de renta
        y otros cargos adicionales que serán informados al momento del inicio del servicio. Los pagos adicionales
        que se generen al momento
        recibir el auto serán realizados de acuerdo a la tarifa pública vigente al momento de la operación.
    </p>
    <p> CUBAGOLDCAR establece precios mínimos y máximos por categoría de vehículos, los cuales se aplicarán en
        correspondencia con las temporadas definidas.
        El precio del servicio siempre se calcula a partir de la tarifa vigente al inicio del mismo, publicada en
        nuestros sitios web y oficinas de ventas
        y reflejada en el contrato de renta del auto, que usted firma. Las prórrogas que solicite serán concedidas
        en función de la disponibilidad de vehículos,
        según las tarifas vigentes al momento de la prórroga.
    </p>
    <p>En el apartado de información que se encuentra en el footer de nuestra página de incio podrá encontrar todas
        nuestras tárifas y precios.
    </p>
    <p> Los precios de CUBAGOLDCAR están expresados en USD y EUR. Para las operaciones de cobro y devolución en Cuba, se
        utilizará la tasa de cambio vigente
        en Cuba para el Sector del Turismo y se realizan mediante tarjeta de crédito o débito con carácter
        internacional y autorizadas a operar en el país.
        Los clientes nacionales pueden realizar el pago con tarjeta magnética de uso local con respaldo en MLC.
        Todos los cargos adicionales que se apliquen
        al momento de la firma del contrato o durante la ejecución del servicio, mantienen estas formas de pago.
    </p>
    <h2>INICIO, EJECUCIÓN Y LIQUIDACIÓN DE LA RENTA</h2>
    <p> Si usted ha reservado un auto, debe presentarse en la fecha, hora y oficina de ventas pactada. En caso de
        demoras u otras situaciones que impidan su presentación,
        debe informar con antelación para que no le sea cancelada la reservación. Si no se recibe información del
        titular en un plazo de hasta 5 horas de la pactada
        se considerará la reserva como no show y se aplicaran los cargos correspondientes.
    </p>
    <p>El titular de una reserva es el titular del contrato, no permitiendo el cambio de titularidad al momento de
        iniciar el servicio. Si usted es el titular de una reserva
        y no cumple alguno de los requisitos para conducir el vehículo, usted podrá declarar un conductor adicional
        a su contrato, donde se especificará que el titular
        del contrato no puede conducir el vehículo por incumplimiento de los requisitos.
    </p>
    <p> Todos los cargos y cobros derivados de servicios y facilidades adicionales no incluidos en la reserva serán
        pagados directamente en la Oficina de Ventas de Transtur
        al momento de inicio del servicio. Todos los cargos y cobros se realizan mediante tarjeta magnética.
    </p>
    <p> El período de renta se calcula en días renta. Los días de renta se establecen en periodos de 24 horas a
        contar desde el momento de la recogida.
        Si usted desea prolongar la renta, deberá presentarse en la oficina más cercana a formalizar la prórroga del
        contrato. Si pasada la fecha y hora estipulada para la entrega
        del vehículo usted no se ha presentado a la liquidación o prórroga del contrato, pierde todos los beneficios
        del relevo de responsabilidad en caso de cualquier incidente.
    </p>
    <p> Se aplicarán cargos por días adicionales cuando los autos se retengan más tiempo del que estuviera pactado
        para su entrega (se considerará un día más cuando hayan transcurrido
        al menos 5 horas después de la hora fijada para la devolución) y se cobrará de acuerdo con la tarifa pública
        vigente. Transtur procederá a realizar denuncia por robo a
        las autoridades oficiales pasadas 24 horas desde la hora pactada para la entrega del auto y se reserva el
        derecho de declarar No Grato al cliente que incurra en esta violación,
        independientemente del pago de los cargos que esto implica.
    </p>
    <p> De detectarse la conducción del auto por una persona no registrada en el contrato de renta se procederá a
        retirar el auto rentado y el cliente perderá el importe
        de los días pendientes a utilizar y el relevo de responsabilidad. Transtur tiene el derecho de declarar al
        titular del contrato y/o a los conductores adicionales,
        así como a la persona no registrada; como No Grato por el periodo de tiempo que considere pertinente.
    </p>
    <p> Para los clientes de CUBACAR Y HAVANAUTOS si durante el período de la renta corresponde la realización de
        mantenimiento al vehículo, el cliente deberá acercarse
        al taller más cercano para realizar el mismo, libre de costo. En el caso de los clientes de REX, siempre que
        la renta sea por un período mayor de un mes,
        el cliente estará obligado a informar a REX si su auto entra dentro del período de mantenimiento y acordará
        en qué oficina de renta podrá efectuar el cambio de auto para este efecto.
    </p>
    <p>El cliente debe devolver el auto en las mismas condiciones que fue recibido. Deberá pagar los accesorios o
        partes del vehículos faltantes o dañados y que no hayan sido señalados
        en el informe del estado del auto, al momento de recibir el mismo. No debe hacer ningún cambio de la
        estructura, forma o decoración del interior o exterior del auto.
        Solamente TRANSTUR es el responsable de toda reparación o mantenimiento del auto o, en su lugar, un taller o
        garaje por el autorizado.
    </p>
    <h2>DAÑOS, PÉRDIDAS O ROBOS</h2>
    <p>CUBAGOLDCAR no se responsabiliza por pérdidas u olvidos de objetos dentro del auto, así como tampoco por robos
        de dichos objetos por descuido del cliente.
        Ha tomado todas las precauciones para evitar desperfectos en el auto. no se hace responsable de desperfectos
        que puedan ocurrir o aparecer producto de descuidos
        por parte del cliente o por incumplimiento de lo pactado en el contrato, así como de las consecuencias que
        surjan por este acto, por de los cuales el cliente resultara responsable.
    </p>
    <p> Usted paga un relevo de responsabilidad que lo protege contra incendio, robo total o parcial, choque o
        vuelco, accidentes y catástrofes naturales. Daños a la propiedad ajena
        y/ lesiones o muerte producidas a terceras personas, provocados en ocasión de conducir el vehículo por la
        vía pública. No cubre la pérdida o rotura de neumáticos ni equipos de audio.
    </p>
    <p>En todos los casos deberá notificar de inmediato a las autoridades competentes y presentar al momento de la
        liquidación, el comprobante de haber formulado denuncia en caso de pérdida o sustracciones.
        En el caso de accidentes, informe de la policía del lugar del hecho o de los inspectores de Transtur, que
        será la vía para definir su culpabilidad o no en los daños ocasionados.
        De ser culpable el cliente pagará los daños a Transtur.
    </p>
    <p> Usted quedará cubierto desde la fecha y hora de inicio de la renta hasta la fecha y hora de terminación de
        la misma, reflejadas en el contrato. En caso de accidentes hasta 12 horas posteriores
        al vencimiento del mismo, con su correspondiente trámite legal.
    </p>
    <p>Perderá todo derecho de incumplir lo estipulado en el contrato, cuando incurra en actuaciones negligentes o
        violaciones de las leyes vigentes; así como por la conducción del vehículo
        en estado de embriaguez o bajo los efectos de sustancias psicotrópicas.
    </p>
    <h2>CARGOS POR PENALIDADES Y MULTAS DE TRÁNSITO</h2>
    <p>Las multas por violaciones de parqueo o de tráfico son responsabilidad del cliente. El cliente puede pagar
        las multas de tráfico en cualquier oficina de cobro de multas del país.
        De no haber pagado las multas al finalizar el contrato, TRANSTUR las cobrará en el contrato de renta según
        lo establecido en las condiciones de renta y leyes cubanas.
        El cliente está en la obligación de entregar el comprobante de pago de la multa al finalizar el contrato.
    </p>
    <p>Transtur aplica cobros adicionales al cliente cuando incurre en alguna de las penalidades recogidas en el
        suplemento de penalidades. Estas penalidades incluyen la entrega del vehículo sucio;
        transportar animales, exceso de pasajeros o un conductor no autorizado. El deterioro o pérdida del forro de
        los asientos, cubre alfombras y alfombras de maletero.
        La pérdida o deterioro del contrato y sus documentos adjunto o su llave. Remolcar otro vehículo, así como
        afectaciones provocadas por accidentes, roturas o pérdidas de accesorios
        si no se cubre por el relevo de responsabilidad.
    </p>
    <p> Además, se penaliza la colocación de pegatinas o accesorios al vehículo sin autorización de la rentadora y
        el cambio de cualquier pieza o agregado del vehículo.
        La violación de la hora pactada para la entrega del vehículo y la violación del mantenimiento durante el
        período de la renta.
    </p>
    <p> Son otras causas de penalización la realización de actividades ilícitas o la utilización del vehículo en
        carreras, competencias o concursos semejantes;
        conducir de forma agresiva o irresponsable con maltrato del mismo. Abastecer el vehículo con combustible
        diferente al autorizado o combustible contaminado.
    </p>
</div>