<div class="rules">
    <h1>TERM AND CONDITIONS</h1>
    <h2>REQUIREMENTS FOR CAR RENTAL</h2>
    <p>The requirements demanded by HAVANABYCAR for driving the car are:
    </p>
    <ol>
        <li>Be at least 21 years of age;
            except for the sports category of the REX trademark, which requires a minimum of 25 years of age.
        </li>
        <li>Be at most 80 years old</li>
        <li>Possess a valid driver's license or permit according to the car you have reserved.
            With a minimum of two (2) years of issue, except for category I Sports rentals of the REX trademark,
            for which a driver's license must be presented with a minimum of three (3) years of issue.
            For licenses issued in the United States and England, the above requirement does not apply.
            For rentals with driver it is not necessary to present a driver's license.
            It is appropriate to clarify that both on our part and on the part of the authorities
            it is required that it be an original document in physical format, for which we inform you that
            the driver's license in digital format is NOT accepted.
        </li>
        <li>Passport or updated identity document.
        </li>
        <li>Not being declared an Unpleasant customer.
        </li>
        <li>The waiver of responsibility differs for clients in the age ranges of 21 to 24
            and 75 to 80 years of clients between 24 and 70 years of age.
        </li>
    </ol>
    <p>Additional drivers must meet the above requirements. These are only authorized to drive the car in the
        absence of the contract holder.
        They are not authorized to open or close contracts, make extensions or modifications to the contract,
        receive returns or include
        an additional driver.
    </p>
    <p>HAVANABYCAR offers the car rental service under the commercial brands Cubacar, Havanautos and REX. The
        reserved car category is guaranteed,
        not a specific make and model, which will be subject to availability at the time of car rental.
    </p>
    <p> <b>In cases where you reserve a car in advance, the holder of the reservation is the only person with the
            right to be the holder of the rental contract,
            always taking into account that a client can only have one active rental in the same period of time.</b>
        This contract is signed in person by both parties at the start of the service. You must deliver the service
        voucher.
    </p>
    <p>HAVANABYCAR reserves the right of admission. We can deny you the car rental if you do not meet any of the
        above requirements;
        if you engage in unacceptable behavior such as showing up under the influence of alcohol, drugs or other
        dangerous substances;
        if it is found to be unwelcome or incurs in any abusive or threatening behavior towards our officials.
    </p>
    <h2>CAR RENTAL AGREEMENT</h2>
    <p>By signing the rental agreement, you and/or the additional drivers accept the standard general conditions of
        the Transtur Rental Agreement that are in force at that time.
        You agree with the report on the condition of the car, which includes the vehicle in good working order,
        along with the accessories described therein,
        and you agree to return it in the same condition that you received it. You acknowledge your agreement with
        all charges applied and agree to pay all debts for the service provided.
    </p>
    <p>The contract has a maximum validity of 30 days, including the days of the original contract and its
        extensions, after which it must be closed. To continue enjoying the service,
        you must open a new contract according to the conditions in force at the time of opening it. The extension
        of a contract is not allowed if the total number of days from the opening
        of the original contract exceeds 30 days. Transtur reserves the right to approve clients' requests for
        extensions depending on the actual availability of cars.
    </p>
    <p> Each rental agreement is accompanied by an original and three copies. The client is given two copies that he
        must always have with him during the rental period.
        In addition to being the legal document for any circumstance where the client needs to prove their
        relationship with Transtur, it is used for the settlement of the car in any office in the country;
        as well as another operation that is carried out during the rent. At the end of the contractual relationship
        with Transtur, the client remains in custody of a copy of the contract,
        which reflects the data of the service performed and the client's agreement with it.
    </p>
    <p>In the cases of extensions, changes of cars or inclusion of an additional driver during the rental; A new
        contract is drawn up as proof of the operation, which is attached to the original rental contract.
        The client is also given a copy of the contract for each of these operations.
    </p>
    <h2>CHARGES INCLUDED IN THE CONTRACT</h2>
    <p> When renting a car, you must pay the rent, the liability waiver, the fuel and the airport office supplement,
        where applicable. The rental price of the car is calculated based on the duration in days of the service,
        the category of the car and the current rate.
    </p>
    <p> The Waiver of Liability is calculated based on the duration in days of the service, the category of the car
        and the current rate. There are 2 basic rates for the liability release;
        a rate for customers aged between 21 and 24 and 76 and 80 years and other coverage for customers between 25
        and 75 years. If you make a reservation through our websites,
        the basic coverage for clients between 25 and 75 years of age will be charged. At the time of opening the
        lease in our sales offices, you must pay the difference in liability relief
        if you are between 21 and 24 or 76 and 80 years old.
    </p>
    <p>The Liability Release coverage offered by Transtur exempts the contract holder from financial responsibility
        in the event of damage to the vehicle or accidents,
        as well as damage to the property or physical integrity of third parties. In all cases, the holder of the
        contract must present the document of the Police action.
        The holder of the contract will lose all coverage and will pay for the damages in case of non-compliance
        with what is established in the Rental Contract.
        The waiver of liability covers additional drivers who are registered in the contract at the time of the
        occurrence of an accident.
    </p>
    <p>Up to 2 additional drivers are allowed optionally. Both are charged at the time you decide to add them to the
        contract, according to the number of days from their incorporation and until the settlement of the contract.
    </p>
    <p> If you pick up your car at any of the sales offices located in International Airports, an additional charge
        applies. An additional charge is also applied to the first rental of vehicles newly incorporated into the
        fleet.
        Both are one-time charges, only at the beginning of the rental.
    </p>
    <p>The car is delivered with fuel that is paid at the time of booking, according to the category of the car.
        Fuel is not sold during the course of the rental, it is purchased in the network of service centers in the
        country.
        Fuel is not returned at the end of the rental.
    </p>
    <p> If you deliver the car to a different office than the one where you picked up the car, you will have to pay
        an additional drop off charge; as long as the delivery office does not belong to the same agency or branch
        of the collection office.
        If at the time of settlement the car is delivered to an Agency or Branch other than the one agreed, the
        drop-of of that destination is charged plus a 50% penalty.
    </p>
    <h2> PRICE AND METHODS OF PAYMENT</h2>
    <p> The rental price of the car is calculated based on the duration in days of the service, the category, the
        rental office and other additional charges that will be informed at the time the service begins. The
        additional payments that
        are generated when receiving the car will be made according to the current public rate at the time of the
        operation.
    </p>
    <p> HAVANABYCAR establishes minimum and maximum prices by category of vehicles, which will be applied in
        correspondence with the defined seasons. The price of the service is always calculated from the current rate
        at the beginning of the service,
        published on our websites and sales offices and reflected in the car rental contract, which you sign. The
        extensions that you request will be granted based on the availability of vehicles, according to the rates in
        force at the time of the extension.
    </p>
    <p>In the information section found in the footer of our home page you can find all our rates and prices.
    </p>
    <p> HAVANABYCAR prices are expressed in USD and EUR. For collection and return operations in Cuba,
        the exchange rate in force in Cuba for the Tourism Sector will be used and
        they are carried out by means of an international credit or debit card and authorized to operate in the
        country.
        National customers can make the payment with a magnetic card for local use backed by MLC.
        All additional charges that are applied at the time of signing the contract or during the execution of the
        service,
        maintain these forms of payment.
    </p>
    <h2>INITIATION, EXECUTION AND LIQUIDATION OF THE RENT</h2>
    <p>If you have reserved a car, you must show up on the agreed date, time and sales office.
        In case of delays or other situations that prevent your presentation,
        you must inform in advance so that the reservation is not cancelled.
        If no information is received from the holder within a period of up to 5 hours from the agreed reservation,
        the reservation will be considered as a no show and the corresponding charges will be applied.
    </p>
    <p> The holder of a reservation is the holder of the contract, not allowing the change of ownership at the time
        of starting the service.
        If you are the holder of a reservation and do not meet any of the requirements to drive the vehicle,
        you may declare an additional driver to your contract, where it will be specified that the contract holder
        cannot drive the vehicle due to non-compliance with the requirements.
    </p>
    <p> All charges and charges derived from additional services and facilities not included in the reservation
        will be paid directly at the Transtur Sales Office at the time the service begins. All charges and
        collections
        are made by magnetic card.
    </p>
    <p>The rental period is calculated in rental days. The rental days are established in periods of 24 hours from
        the moment of collection.
        If you wish to extend the rent, you must go to the nearest office to formalize the extension of the
        contract.
        If after the date and time stipulated for the delivery of the vehicle you have not appeared for the
        liquidation or extension of the contract,
        you lose all the benefits of the liability release in case of any incident.
    </p>
    <p>Charges will be applied for additional days when the cars are retained for longer than the time agreed for
        their delivery
        (it will be considered one more day when at least 5 hours have elapsed after the time set for the return)
        and will be charged according to the rate current public. Transtur will proceed to report the theft to the
        official authorities
        24 hours after the agreed time for the delivery of the car and reserves the right to declare a client who
        incurs this violation,
        regardless of the payment of the charges that this implies.
    </p>
    <p> If the driving of the car is detected by a person not registered in the rental contract,
        the rented car will be withdrawn and the client will lose the amount of the days pending to be used and the
        liability release.
        Transtur has the right to declare the contract holder and/or the additional drivers, as well as the
        non-registered person;
        as Non Grata for the period of time that you deem appropriate.
    </p>
    <p>For the clients of CUBACAR AND HAVANAUTOS, if during the rental period the maintenance of the vehicle
        corresponds,
        the client must go to the nearest workshop to carry it out, free of charge. In the case of REX clients,
        whenever the rental is for a period of more than one month, the client will be obliged to inform REX
        if their car falls within the maintenance period and will agree in which rental office they can make the
        change
        of car for this effect.
    </p>
    <p> The customer must return the car in the same condition that it was received.
        You must pay for the accessories or parts of the vehicle that are missing or damaged
        and that have not been indicated in the report on the condition of the car, at the time of receiving it.
        You must not make any changes to the structure, shape or decoration of the interior or exterior of the car.
        Only TRANSTUR is responsible for all repairs or maintenance of the car or, in its place, a workshop or
        garage authorized by it.
    </p>
    <h2>DAMAGE, LOSS OR THEFT</h2>
    <p>HAVANABYCAR is not responsible for loss or forgetfulness of objects inside the car, nor for theft of said
        objects due to the client's carelessness.
        You have taken every precaution to avoid damage to the car. is not responsible for damages that may occur or
        appear as a result of carelessness
        on the part of the client or for breach of what was agreed in the contract, as well as for the consequences
        that arise from this act,
        for which the client will be responsible.
    </p>
    <p>You pay a liability waiver that protects you against fire, total or partial theft, collision or overturning,
        accidents and natural catastrophes. Damage to the property of others and/or injuries or death caused to
        third parties,
        caused when driving the vehicle on public roads. It does not cover the loss or breakage of tires or audio
        equipment.
    </p>
    <p> In all cases, you must immediately notify the competent authorities and submit at the time of settlement,
        proof of having filed a complaint in case of loss or theft. In the case of accidents,
        a report from the police at the scene of the event or from Transtur inspectors, which will be
        the way to determine whether or not you are guilty of the damage caused. If guilty, the client will pay the
        damages to Transtur.
    </p>
    <p> You will be covered from the date and time the rental starts until the date and time it ends, reflected in
        the contract.
        In case of accidents up to 12 hours after its expiration, with its corresponding legal process.
    </p>
    <p>You will lose all right to breach the provisions of the contract, when you incur in negligent actions or
        violations of current laws;
        as well as for driving the vehicle while intoxicated or under the influence of psychotropic substances.
    </p>
    <h2>CHARGES FOR TRAFFIC PENALTIES AND FINES</h2>
    <p>Tickets for parking or traffic violations are the responsibility of the client. The customer can pay traffic
        fines
        at any fine collection office in the country. If the fines have not been paid at the end of the contract,
        TRANSTUR will charge them in the rental contract as established in the rental conditions and Cuban laws.
        The client is obliged to deliver proof of payment of the fine at the end of the contract.
    </p>
    <p>Transtur applies additional charges to the client when they incur any of the penalties included in the
        penalties supplement.
        These penalties include the delivery of the dirty vehicle; transporting animals, excess passengers or an
        unauthorized driver.
        The deterioration or loss of the lining of the seats, covers carpets and trunk mats.
        The loss or deterioration of the contract and its attached documents or its key. Towing another vehicle,
        as well as affectations caused by accidents, breakages or loss of accessories if it is not covered by the
        liability waiver.
    </p>
    <p> In addition, the placement of stickers or accessories on the vehicle without the authorization of the rental
        company
        and the change of any part or addition to the vehicle is penalized. The violation of the agreed time for the
        delivery
        of the vehicle and the violation of maintenance during the rental period.
    </p>
    <p> Other causes of penalty are the performance of illegal activities or the use of the vehicle in races,
        competitions or similar contests;driving aggressively or irresponsibly with mistreatment of the same.
        Supply the vehicle with fuel other than authorized or contaminated fuel.
    </p>
</div>