<option value = "Habana">Habana</option>
<option value = "Habana Airport">Habana Airport</option>
<option value = "Varadero">Varadero</option>
<option value = "Varadero Airport">Varadero Airport</option>
<option value = "Holguin">Holguin</option>
<option value = "Holguin Airport">Holguin Airport</option>
<option value = "Santiago de Cuba">Santiago de Cuba</option>
<option value = "Santiago de Cuba Airport">Santiago de Cuba Airport</option>
<option value = "Artemisa">Artemisa</option>
<option value = "Bahia Honda">Bahia Honda</option>
<option value = "Baracoa">Baracoa</option>
<option value = "Bayamo">Bayamo</option>
<option value = "Bauta">Bauta</option>
<option value = "Camagüey">Camagüey</option>
<option value = "Camagüey Airport">Camagüey Airport</option>
<option value = "Cardenas">Cardenas</option>
<option value = "Cayo Coco">Cayo Coco</option>
<option value = "Cayo Coco Airport">Cayo Coco Airport</option>
<option value = "Cayo Cruz">Cayo Cruz</option>
<option value = "Cayo Guillermo">Cayo Guillermo</option>
<option value = "Cayo Santa Maria">Cayo Santa Maria</option>
<option value = "Ciego de Avila">Ciego de Avila</option>
<option value = "Cienfuegos">Cienfuegos</option>
<option value = "Colon">Colon</option>
<option value = "Consolacion del Sur">Consolacion del Sur</option>
<option value = "Guantanamo">Guantanamo</option>
<option value = "Güanajay">Güanajay</option>
<option value = "Jovellanos">Jovellanos</option>
<option value = "Las Tunas">Las Tunas</option>
<option value = "Malena del Sur">Malena del Sur</option>
<option value = "Maria la Gorda">Maria la Gorda</option>
<option value = "Manzanillo">Manzanillo</option>
<option value = "Matanzas">Matanzas</option>
<option value = "Pilon">Pilon</option>
<option value = "Pinar del Rio">Pinar del Rio</option>
<option value = "Playa Guardalavaca">Playa Guardalavaca</option>
<option value = "Playa Pesquero">Playa Pesquero</option>
<option value = "Remedios">Remedios</option>
<option value = "San Cristobal">San Cristobal</option>
<option value = "Santa Clara">Santa Clara</option>
<option value = "Santa Clara Airport">Santa Clara Airport</option>
<option value = "Santa Cruz del Norte">Santa Cruz del Norte</option>
<option value = "Santi Spiritus">Santi Spiritus</option>
<option value = "Trinidad">Trinidad</option>
<option value = "Viñales">Viñales</option>