<div><p value = "Habana Airport">Habana Airport</p></div>
<div><p value = "Habana">Habana</p></div>
<div><p value = "Varadero Airport">Varadero Airport</p></div>
<div><p value = "Varadero">Varadero</p></div>
<div><p value = "Holguin Airport">Holguin Airport</p></div>
<div><p value = "Holguin">Holguin</p></div>
<div><p value = "Baracoa">Baracoa</p></div>
<div><p value = "Bayamo">Bayamo</p></div>
<div><p value = "Camagüey Airport">Camagüey Airport</p></div>
<div><p value = "Camagüey">Camagüey</p></div>
<div><p value = "Cayo Coco Airport">Cayo Coco Airport</p></div>
<div><p value = "Cayo Coco">Cayo Coco</p></div>
<div><p value = "Cayo Santa Maria">Cayo Santa Maria</p></div>
<div><p value = "Ciego de Avila">Ciego de Avila</p></div>
<div><p value = "Cienfuegos">Cienfuegos</p></div>
<div><p value = "Guantanamo">Guantanamo</p></div>
<div><p value = "Playa Pesquero">Playa Pesquero</p></div>
<div><p value = "Playa Guardalavaca">Playa Guardalavaca</p></div>
<div><p value = "Las Tunas">Las Tunas</p></div>
<div><p value = "Matanzas">Matanzas</p></div>
<div><p value = "Pinar del Rio">Pinar del Rio</p></div>
<div><p value = "Remedios">Remedios</p></div>
<div><p value = "Santi Spiritus">Santi Spiritus</p></div>
<div><p value = "Santa Clara Airport">Santa Clara Airport</p></div>
<div><p value = "Santa Clara">Santa Clara</p></div>
<div><p value = "Santiago de Cuba Airport">Santiago de Cuba Airport</p></div>
<div><p value = "Santiago de Cuba">Santiago de Cuba</p></div>
<div><p value = "Trinidad">Trinidad</p></div>
<div><p value = "Viñales">Viñales</p></div>

