<div><p value="Spain">Spain</p></div>
<div><p value="Cuba">Cuba</p></div>
<div><p value="Afghanistan">Afghanistan</p></div>
<div><p value="Albania">Albania</p></div>
<div><p value="American Samoa">American Samoa</p></div>
<div><p value="Algeria">Algeria</p></div>
<div><p value="Austria">Austria</p></div>
<div><p value="Australia">Australia</p></div>
<div><p value="Argentina">Argentina</p></div>
<div><p value="Azerbaijan">Azerbaijan</p></div>
<div><p value="Bahrain">Bahrain</p></div>
<div><p value="Belarus">Belarus</p></div>
<div><p value="Belgium">Belgium</p></div>
<div><p value="Belize">Belize</p></div>
<div><p value="Bangladesh">Bangladesh</p></div>
<div><p value="Bermuda">Bermuda</p></div>
<div><p value="Bhutan">Bhutan</p></div>
<div><p value="Bolivia">Bolivia</p></div>
<div><p value="Bosnia and Herzegovina">Bosnia and Herzegovina</p></div>
<div><p value="Botswana">Botswana</p></div>
<div><p value="Bouvet Island">Bouvet Island</p></div>
<div><p value="Brazil">Brazil</p></div>
<div><p value="British Indian Ocean Territory">British Indian Ocean Territory</p></div>
<div><p value="Brunei">Brunei</p></div>
<div><p value="Bulgaria">Bulgaria</p></div>
<div><p value="Burkina Faso">Burkina Faso</p></div>
<div><p value="Burundi">Burundi</p></div>
<div><p value="Cambodia">Cambodia</p></div>
<div><p value="Cameroon">Cameroon</p></div>
<div><p value="Canada">Canada</p></div>
<div><p value="Cape Verde">Cape Verde</p></div>
<div><p value="Cayman Islands">Cayman Islands</p></div>
<div><p value="Central African Republic">Central African Republic</p></div>
<div><p value="Chad">Chad</p></div>
<div><p value="Chile">Chile</p></div>
<div><p value="China">China</p></div>
<div><p value="Christmas Island">Christmas Island</p></div>
<div><p value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</p></div>
<div><p value="Colombia">Colombia</p></div>
<div><p value="Comoros">Comoros</p></div>
<div><p value="Congo">Congo</p></div>
<div><p value="Costa Rica">Costa Rica</p></div>
<div><p value="Croatia">Croatia</p></div>
<div><p value="Curacao">Curacao</p></div>
<div><p value="Cyprus">Cyprus</p></div>
<div><p value="Czech Republic">Czech Republic</p></div>
<div><p value="Democratic Republic of the Congo">Democratic Republic of the Congo</p></div>
<div><p value="Denmark">Denmark</p></div>
<div><p value="Egypt">Egypt</p></div>
<div><p value="Eritrea">Ethiopia</p></div>
<div><p value="Ethiopia">Ethiopia</p></div>
<div><p value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</p></div>
<div><p value="Faroe Islands">Faroe Islands</p></div>
<div><p value="Fiji">Fiji</p></div>
<div><p value="Finland">Finland</p></div>
<div><p value="France">France</p></div>
<div><p value="French Guiana">French Guiana</p></div>
<div><p value="French Polynesia">French Polynesia</p></div>
<div><p value="French Southern Territories">French Southern Territories</p></div>
<div><p value="Gabon">Gabon</p></div>
<div><p value="Gambia">Gambia</p></div>
<div><p value="Georgia">Georgia</p></div>
<div><p value="Germany">Germany</p></div>
<div><p value="Ghana">Ghana</p></div>
<div><p value="Gibraltar">Gibraltar</p></div>
<div><p value="Greece">Greece</p></div>
<div><p value="Greenland">Greenland</p></div>
<div><p value="Grenada">Grenada</p></div>
<div><p value="Guadaloupe">Guadaloupe</p></div>
<div><p value="Guam">Guam</p></div>
<div><p value="Guatemala">Guatemala</p></div>
<div><p value="Guernsey">Guernsey</p></div>
<div><p value="Guinea">Guinea</p></div>
<div><p value="Guinea-Bissau">Guinea-Bissau</p></div>
<div><p value="Guyana">Guyana</p></div>
<div><p value="Haiti">Haiti</p></div>
<div><p value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</p></div>
<div><p value="Honduras">Honduras</p></div>
<div><p value="Hong Kong">Hong Kong</p></div>
<div><p value="Hungary">Hungary</p></div>
<div><p value="Iceland">Iceland</p></div>
<div><p value="India">India</p></div>
<div><p value="Indonesia">Indonesia</p></div>
<div><p value="Iran">Iran</p></div>
<div><p value="Iraq">Iraq</p></div>
<div><p value="Ireland">Ireland</p></div>
<div><p value="Isle of Man">Isle of Man</p></div>
<div><p value="Israel">Israel</p></div>
<div><p value="Italy">Italy</p></div>
<div><p value="Jamaica">Jamaica</p></div>
<div><p value="Japan">Japan</p></div>
<div><p value="Jersey">Jersey</p></div>
<div><p value="Jordan">Jordan</p></div>
<div><p value="Kazakhstan">Kazakhstan</p></div>
<div><p value="Kenya">Kenya</p></div>
<div><p value="Kiribati">Kiribati</p></div>
<div><p value="Kosovo">Kosovo</p></div>
<div><p value="Kuwait">Kuwait</p></div>
<div><p value="Kyrgyzstan">Kyrgyzstan</p></div>
<div><p value="Laos">Laos</p></div>
<div><p value="Latvia">Latvia</p></div>
<div><p value="Lebanon">Lebanon</p></div>
<div><p value="Lesotho">Lesotho</p></div>
<div><p value="Liberia">Liberia</p></div>
<div><p value="Libya">Libya</p></div>
<div><p value="Liechtenstein">Liechtenstein</p></div>
<div><p value="Lithuania">Lithuania</p></div>
<div><p value="Luxembourg">Luxembourg</p></div>
<div><p value="Macao">Macao</p></div>
<div><p value="Macedonia">Macedonia</p></div>
<div><p value="Madagascar">Madagascar</p></div>
<div><p value="Malawi">Malawi</p></div>
<div><p value="Malaysia">Malaysia</p></div>
<div><p value="Maldives">Maldives</p></div>
<div><p value="Mali">Mali</p></div>
<div><p value="Malta">Malta</p></div>
<div><p value="Marshall Islands">Marshall Islands</p></div>
<div><p value="Martinique">Martinique</p></div>
<div><p value="Mauritania">Mauritania</p></div>
<div><p value="Mauritius">Mauritius</p></div>
<div><p value="Mayotte">Mayotte</p></div>
<div><p value="Mexico">Mexico</p></div>
<div><p value="Micronesia">Micronesia</p></div>
<div><p value="Moldava">Moldava</p></div>
<div><p value="Monaco">Monaco</p></div>
<div><p value="Mongolia">Mongolia</p></div>
<div><p value="Montenegro">Montenegro</p></div>
<div><p value="Montserrat">Montserrat</p></div>
<div><p value="Morocco">Morocco</p></div>
<div><p value="Mozambique">Mozambique</p></div>
<div><p value="Myanmar (Burma)">Myanmar (Burma)</p></div>
<div><p value="Namibia">Namibia</p></div>
<div><p value="Nauru">Nauru</p></div>
<div><p value="Nepal">Nepal</p></div>
<div><p value="Netherlands">Netherlands</p></div>
<div><p value="New Caledonia">New Caledonia</p></div>
<div><p value="New Zealand">New Zealand</p></div>
<div><p value="Nicaragua">Nicaragua</p></div>
<div><p value="Niger">Niger</p></div>
<div><p value="Nigeria">Nigeria</p></div>
<div><p value="Niue">Niue</p></div>
<div><p value="Norfolk Island">Norfolk Island</p></div>
<div><p value="North Korea">North Korea</p></div>
<div><p value="Northern Mariana Islands">Northern Mariana Islands</p></div>
<div><p value="Norway">Norway</p></div>
<div><p value="Oman">Oman</p></div>
<div><p value="Pakistan">Pakistan</p></div>
<div><p value="Palau">Palau</p></div>
<div><p value="Palestine">Palestine</p></div>
<div><p value="Panama">Panama</p></div>
<div><p value="Papua New Guinea">Papua New Guinea</p></div>
<div><p value="Paraguay">Paraguay</p></div>
<div><p value="Peru">Peru</p></div>
<div><p value="Phillipines">Phillipines</p></div>
<div><p value="Pitcairn">Pitcairn</p></div>
<div><p value="Poland">Poland</p></div>
<div><p value="Portugal">Portugal</p></div>
<div><p value="Puerto Rico">Puerto Rico</p></div>
<div><p value="Qatar">Qatar</p></div>
<div><p value="Reunion">Reunion</p></div>
<div><p value="Romania">Romania</p></div>
<div><p value="Russia">Russia</p></div>
<div><p value="Rwanda">Rwanda</p></div>
<div><p value="Saint Barthelemy">Saint Barthelemy</p></div>
<div><p value="Saint Helena">Saint Helena</p></div>
<div><p value="Saint Kitts and Nevis">Saint Kitts and Nevis</p></div>
<div><p value="Saint Lucia">Saint Lucia</p></div>
<div><p value="Saint Martin">Saint Martin</p></div>
<div><p value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</p></div>
<div><p value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</p></div>
<div><p value="Samoa">Samoa</p></div>
<div><p value="San Marino">San Marino</p></div>
<div><p value="Sao Tome and Principe">Sao Tome and Principe</p></div>
<div><p value="Saudi Arabia">Saudi Arabia</p></div>
<div><p value="Senegal">Senegal</p></div>
<div><p value="Serbia">Serbia</p></div>
<div><p value="Seychelles">Seychelles</p></div>
<div><p value="Sierra Leone">Sierra Leone</p></div>
<div><p value="Singapore">Singapore</p></div>
<div><p value="Sint Maarten">Sint Maarten</p></div>
<div><p value="Slovakia">Slovakia</p></div>
<div><p value="Slovenia">Slovenia</p></div>
<div><p value="Solomon Islands">Solomon Islands</p></div>
<div><p value="Somalia">Somalia</p></div>
<div><p value="South Africa">South Africa</p></div>
<div><p value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</p></div>
<div><p value="South Korea">South Korea</p></div>
<div><p value="South Sudan">South Sudan</p></div>

<div><p value="Sri Lanka">Sri Lanka</p></div>
<div><p value="Sudan">Sudan</p></div>
<div><p value="Suriname">Suriname</p></div>
<div><p value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</p></div>
<div><p value="Swaziland">Swaziland</p></div>
<div><p value="Sweden">Sweden</p></div>
<div><p value="Switzerland">Switzerland</p></div>
<div><p value="Syria">Syria</p></div>
<div><p value="Taiwan">Taiwan</p></div>
<div><p value="Tajikistan">Tajikistan</p></div>
<div><p value="Tanzania">Tanzania</p></div>
<div><p value="Thailand">Thailand</p></div>
<div><p value="Timor-Leste (East Timor)">Timor-Leste (East Timor)</p></div>
<div><p value="Togo">Togo</p></div>
<div><p value="Tokelau">Tokelau</p></div>
<div><p value="Tonga">Tonga</p></div>
<div><p value="Trinidad and Tobago">Trinidad and Tobago</p></div>
<div><p value="Tunisia">Tunisia</p></div>
<div><p value="Turkey">Turkey</p></div>
<div><p value="Turkmenistan">Turkmenistan</p></div>
<div><p value="Turks and Caicos Islands">Turks and Caicos Islands</p></div>
<div><p value="Tuvalu">Tuvalu</p></div>
<div><p value="Uganda">Uganda</p></div>
<div><p value="Ukraine">Ukraine</p></div>
<div><p value="United Arab Emirates">United Arab Emirates</p></div>
<div><p value="United Kingdom">United Kingdom</p></div>
<div><p value="United States">United States</p></div>
<div><p value="United States Minor Outlying Islands">United States Minor Outlying Islands</p></div>
<div><p value="Uruguay">Uruguay</p></div>
<div><p value="Uzbekistan">Uzbekistan</p></div>
<div><p value="Vanuatu">Vanuatu</p></div>
<div><p value="Vatican City">Vatican City</p></div>
<div><p value="Venezuela">Venezuela</p></div>
<div><p value="Vietnam">Vietnam</p></div>
<div><p value="Virgin Islands, British">Virgin Islands, British</p></div>
<div><p value="Virgin Islands, US">Virgin Islands, US</p></div>
<div><p value="Yemen">Yemen</p></div>
<div><p value="Zambia">Zambia</p></div>
<div><p value="Zimbabwe">Zimbabwe</p></div>
