<div class="modal-background" id="extraDayModal">
    <div class="extraDay-content">
        <i class="fas fa-times secondary"></i>
        <h3 class="secondary"><%= footer.important %></h3>
        <p>
            <%= footer.lateExplainerOne %> 
        </p>
        <h1 class="accent center" id="returnDeadLine"></h1>
        <p>
            <%= footer.lateExplainerTwo %>
        </p>
        <div class="center">
            <span class="btn" id="extraday-action">
                <i class="fas fa-check-circle"></i> OK
            </span>
        </div>
    </div>
</div>