<div style="border-right: 1px solid var(--primary)" id="lateralSearch">
    <div class="searchContainer">
        <%- include('./search.ejs') %>
    </div>
    <div>
        <img src="/static/media/wave.svg" style="transform: rotateX(180deg)">
    </div>
    <div class="road-below-search">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>