<div class="how-details">
    <h3 class="accent">
        Mas Detalles
    </h3>
    <p>
        <ul class="ul-tyre">
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > En este sitio puedes revisar la disponibilidad y los precios de los carros de renta.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Todos los precios incluyen el Seguro</li>

            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Se agregan al precio del carro 60 <span class="currencyString"></span> para el primer tanque de gasolina (puedes devolver el carro sin gasolina)
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Recoger el carro en un aeropuerto vale 25 <span class="currencyString"></span>.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Agregar un segundo conductor vale 35 <span class="currencyString"></span></li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Devolver en una ciudad diferente vale 35 <span class="currencyString"></span></li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Puedes reservar un carro sin compomiso y lo vamos a bloquear para ti por 48 horas</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Vas a recibir un correo con todos los detalles de la reserva y las indicaciones para pagar</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Tienes 48 horas para pagar..</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Si no pagas, la reserva es cancelada automaticamente. No tienes que hacer nada.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Si quieres finalizar la reserva, sigue las indicaciones del correo para realizar el pago. Luego, var a recibir el Voucher.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > El VOUCHER es el documento que vas a necesitar para recoger el carro en Cuba.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Junto con el VOUCHER, vas a tener que presentar el pasaporte y una licencia de conduccion.</li>

            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Pueder rentar carros solo las personas que tengan una edad entre 21 y 80 años</li>
        </ul>
    </p>
</div>