<div class="how-details">
    <h3 class="accent">
        More Details
    </h3>
    <p>
        <ul class="ul-tyre">
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > On our website you can check the availability of our cars and prices.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > All prices include INSURANCE.</li>

            <li><img src="/static/media/tyre.png" alt="" class="tyre" > To the price of the car rental (which includes insurance) must be added 60 <span class="currencyString"></span> for the first tank of fuel (you can return the car with empty tank)
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > 25 <span class="currencyString"></span> for airport taxes if you pickup your car at a Cuban airport.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > 35 <span class="currencyString"></span> if you want an additional driver</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > 35 <span class="currencyString"></span> if you drop off the car at a different location from where it was picked up</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > You can make a reservation for the car of your choice without commitment and we will block the car for 48 hours.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > You will receive an email with the reservation confirmation and payment details.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > You have 48 hours to make the payment.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > If you do not wish to confirm the reservation because you need more time to decide or still need to organize your trip, you do not need to do anything, the reservation will be automatically cancelled.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > If you want to confirm the reservation, follow the instructions and once your payment is registered, you will receive the VOUCHER!</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > The VOUCHER is the document necessary to pick up the car in Cuba.</li>
            
            <li><img src="/static/media/tyre.png" alt="" class="tyre" > Along with the VOUCHER, you will need to present your passport and your national driver's license.</li>

            <li><img src="/static/media/tyre.png" alt="" class="tyre" > In order to rent a car in Cuba you must be at least 21 years old</li>
        </ul>
    </p>
</div>