<section id="road">
    <h1 class="center"><%= contents.hero %></h1>
    <div class="infinite">
        <div class="car-animated">
            <img src="/static/media/white_car_with_logo.png"  class="" alt="">
        </div>
        <div class="shadow"></div>
    </div>
</section>
<div class="blackwave" id="promoWave">
    <img src="/static/media/wave.svg" alt="">
</div>