<div class="single-step">
    <div class="ball-container">
        <h1 class="center"><%= counter %></h1>
    </div>
    <div class="content">
        <p>
            <b class="accent"><span class="counter-mob primary"><%= counter %> </span> <%= step.name %></b>
            <br>
            <%= step.content %>
        </p>
    </div>
    
</div>