<div class="single-contact <%= contact.color %>">
    <div>
        <h3 style="font-size: 36px">
            <i class="<%= contact.icon %>"></i>
        </h3>
        <h6>
            <b style="font-size: 15px; position: relative; bottom: 30px">
                <%= contact.data %>
            </b>
            <br>
            <%= contact.name %>
        </h6>
    </div>
    
</div>