<div class="pay-upload-grid">
    <div>
        <p class="evidenceFeedback center"></p>
    </div>
    <div>
        <p class="voucherLine">
            <form class="right">
                <input type="file" id="evidence" class="hidden">
                <label for="evidence" class="evidenceUploader">
                    <i class="fas fa-upload"></i> <%= contents.uploadEvidence %>
                </label>
            </form>
        </p>
    </div>
</div>
