<div class="voucherform">
    <p class="accent title"><%= contents.saveMore %></p>
    <br>
    <div class="split-voucher">
        <div>
            <p class="input-box">
                <label for="code">Coupon</label>
                <i class="fas fa-check" data-field="code"></i>    
                <input type="text" id="code">
            </p>
        </div>
        <br>
        <div>
            <p class="center">
                <span class="btn" id="voucherTrigger">
                    <i class="fas fa-percentage"></i>
                    Coupon
                </span>
            </p>
        </div>
    </div>
</div>